<div class="login-modal" id="loginModal">

  <div class="login-box">

    <span class="close-btn">&times;</span>

    <h2>LOGIN</h2>

    <div class="login-row">
      <span>Admin</span>
      <form action="/login/admin" method="POST">
        <button>Login</button>
      </form>
    </div>

    <hr>

    <div class="customer-list">

      <p style="font-size: 18px; font-weight: 700;">Customer</p>

      <div class="login-row">
        <span>Brian</span>
        <form action="/login/customer" method="POST">
          <input type="hidden" name="username" value="Brian">
          <button>Login</button>
        </form>
      </div>

      <div class="login-row">
        <span>Darry</span>
        <form action="/login/customer" method="POST">
          <input type="hidden" name="username" value="Darry">
          <button>Login</button>
        </form>
      </div>

      <div class="login-row">
        <span>Alex</span>
        <form action="/login/customer" method="POST">
          <input type="hidden" name="username" value="Alex">
          <button>Login</button>
        </form>
      </div>

    </div>

  </div>

</div>